*{
    margin: 0;
    padding: 0;
}

html{
  font-size: 16px;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* --------------------------- common style */
.btn{
  color: white;
  background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
  border: none;
  padding: 12px 16px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover{
  background: linear-gradient(47.64deg, rgb(146, 247, 63),rgba(233, 8, 57, 0.904),rgb(17, 0, 248));
  transform: scale(1.1);
  outline: 2px solid rgba(92, 34, 168, 0.856);
}


/* --------------------------- specific style */
/* ----------------------------------------------- header */
header{
  background-color: rgba(26, 11, 46, 1);;
}

.nav-bar{
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page ul{
  display: flex;
  gap: 30px;
  align-items: center;
  list-style-type: none;

}

.page li{
  list-style-type: none;
}

.page ul li a{
  text-decoration: none;
  color: white;

}

.nav-menu{
  display: none;
}

/* ------------------------------------------------ hero section */

.hero-section-color{
  background-color: rgba(26, 11, 46, 1);
  border-top: 1px solid rgba(159, 128, 199, 0.377);
}

.hero-section{
  background-image: url(./img/hero-bg.png);
  background-repeat: no-repeat;
  max-width: 1600px;
  font-size: 1vw;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0);
  margin: 0 auto;
  background-size: 100%;
  align-items: center;
  justify-items: center;
  color: white;
}

.hero-circle{
  width: 20.875em;
  height: 20.875em;
  border-radius: 50px;
  background-image: url(./img/hero-circle.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-circle img{
  height:10.9em ;
  width: 7.3em;
}
.hero-section h2{
  margin-top: 40px;
  font-size: 60px;
  font-weight: 800;
}

.hero-section p{
  margin: 20px 0;
  font-size: 17px;
  padding: 10px;
}
.hero-btn{
  display: flex;
  gap: 15px;
}
.subscribe{
  background: none;
  border: 2px solid #00FF88;
  color: #00FF88;
}

/* ------------------------------------------------ about section */
.about-section{
  max-width: 1600px;
  margin: 0 auto;
  font-size: 1vw;
}

.about-txt{
  max-width: 1200px;
  margin: 8em auto 4em;
  text-align: center;
  color: white;
  font-size: 1rem;
  padding: 10px;
}

.about-rating{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  color: white;
  font-size: 1rem;
  padding: 10px;
  border-top: 1px solid rgb(54, 53, 53);
  padding: 4em ;
}

.about-rating h2{
 color: rgba(0, 255, 136, 1);
}

.rating{
  height: 95px;
  width: 150px;
}



/* ------------------------------------------------ main section */

/* ------------------ choose-section */
.choose-section-all{
  background-color: rgba(35, 14, 61, 1);
  

}

.choose-section{
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1.4vw;
  padding: 7.5em 0;
  color: white;
}

.choose-section h1{
  text-align: center;
  font-size: 2em;
}

.all-frames{
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 250px);
  gap: 30px;

}

.frame{
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
  gap: 1em;
  overflow: hidden;
}

.frame img{
  height: 30px;
  width: 30px;
}

.frame h2{
  font-size: 24px;
  font-weight: 700;
  margin-top: 1em;
}

.frame p{
  font-size: 16px;
  margin-top: 0.8em;
}

.frame1{
  grid-column: span 2;
  grid-row: span 2;
}

.frame1 img{
  margin-top: 6em ;

}

.frame2{
  grid-column: span 4;
}

.frame3{
  grid-column: span 4;
}

.frame4{
  grid-column: span 4;
}

.frame5{
  grid-column: span 2;
}











/* --------------------------- media queries for small */

@media screen and (max-width: 576px) {
  .nav-bar{
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.page ul , .nav-btn{
  display: none;
}

.nav-menu{
  display: flex;
  color: aliceblue;
}

.hero-section{
  height: 450px;
}

.about-txt{
  max-width: 500px;
}

.about-txt p{
  text-align: justify;
}

.choose-section h1{
  font-size: 2rem;
}

.all-frames{
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 180px 200px 200px 200px 300px 200px;
  gap: 20px;
  margin: 0 20px;
}

.frame1 , .frame5{
  grid-column: span 4;
}







}