*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 16px;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* --------------------------- common style */
.btn{
  color: white;
  background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
  border: none;
  padding: 12px 16px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover{
  background: linear-gradient(47.64deg, rgb(146, 247, 63),rgba(233, 8, 57, 0.904),rgb(17, 0, 248));
  transform: scale(1.1);
  outline: 2px solid rgba(92, 34, 168, 0.856);
  cursor: pointer;
}

.hov-outline:hover{
  outline: 2px solid rgb(255, 255, 255);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.hov-outline-2:hover{
  outline: 2px solid rgb(107, 15, 182);
  cursor: pointer;
}

/* --------------------------- specific style */
/* ----------------------------------------------- header */
header{
  background-color: rgba(26, 11, 46, 1);;
}

.nav-bar{
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page ul{
  display: flex;
  gap: 30px;
  align-items: center;
  list-style-type: none;

}

.page li{
  list-style-type: none;
}

.page ul li a{
  text-decoration: none;
  color: white;
  padding: 5px;
}

.nav-menu{
  display: none;
}

/* ------------------------------------------------ hero section */

.hero-section-color{
  background-color: rgba(26, 11, 46, 1);
  border-top: 1px solid rgba(159, 128, 199, 0.377);
}

.hero-section{
  background-image: url(./img/hero-bg.png);
  background-repeat: no-repeat;
  max-width: 1600px;
  font-size: 1vw;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0);
  margin: 0 auto;
  background-size: 100%;
  align-items: center;
  justify-items: center;
  color: white;
}

.hero-circle{
  width: 20em;
  height: 20em;
  border-radius: 50px;
  background-image: url(./img/hero-circle.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 7.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#new {
  position: absolute;
  top: 5%;
  right: -10px;
  background-color:#00FF88;
  color: black;
  padding: 6px 16px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 0 15px rgba(2, 206, 111, 0.753);
  animation: new-animation 2s infinite;
  z-index: 999;
}


@keyframes new-animation {

 0%{
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 255, 136, 0.7);
    }

  70% {
    transform: scale(1.25);
    box-shadow: 0 0 0 10px rgba(0, 255, 136, 0);
    }

    100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 255, 136, 0);
    }
}

.hero-circle img{
  height:10em ;
  width: 7em;
}
.hero-section h2{
  margin-top: 40px;
  font-size: 60px;
  font-weight: 800;
}

.hero-section p{
  margin: 20px 0;
  font-size: 17px;
  padding: 10px;
}

.hero-btn{
  display: flex;
  gap: 15px;
}

.subscribe{
  background: none;
  border: 2px solid #00FF88;
  color: #00FF88;
}

/* ------------------------------------------------ about section */
.about-section{
  max-width: 1600px;
  margin: 0 auto;
  font-size: 1vw;
}

.about-txt{
  max-width: 1200px;
  margin: 8em auto 4em;
  text-align: center;
  color: white;
  font-size: 1rem;
  padding: 10px;
}

.about-rating{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  color: white;
  font-size: 1rem;
  padding: 10px;
  border-top: 1px solid rgb(54, 53, 53);
  padding: 4em ;
}

.about-rating h2{
 color: rgba(0, 255, 136, 1);
 font-size: 43px;
}

.rating{
  height: 95px;
  width: 150px;
}

/* ------------------------------------------------ main section */

/* ------------------ choose-section */
.choose-section-all{
  background-color: rgba(35, 14, 61, 1);
  

}

.choose-section{
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1.4vw;
  padding: 7.5em 0;
  color: white;
}

.choose-section h1{
  text-align: center;
  font-size: 2em;
}

.all-frames{
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 250px);
  gap: 30px;
}

.frame{
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
  gap: 1em;
  overflow: hidden;
}

.frame img{
  height: 30px;
  width: 30px;
}

.frame h2{
  font-size: 24px;
  font-weight: 700;
  margin-top: 1em;
}

.frame p{
  font-size: 16px;
  margin-top: 0.8em;
  line-height: 24px;
  padding: 0;
  color: rgba(255, 255, 255, 0.719);
}

.frame1{
  grid-column: span 2;
  grid-row: span 2;
}

.frame1 img{
  margin-top: 6em ;
}

.frame2{
  grid-column: span 4;
}

.frame3{
  grid-column: span 4;
}

.frame4{
  grid-column: span 4;
}

.frame5{
  grid-column: span 2;
}

/* ------------------------------------------------ Episodes section */
.episodes-section-all{
  background-color: rgba(26, 11, 46, 1);
}

.episodes-section{
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1.4vw;
  padding: 6em 0;
  color: white;
  text-align: center;
}

.episodes-section h1{
  font-size: 2rem;
  margin-bottom: 25px;
}

.episodes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.youtube-V{
  width: 300px;
  height: 400px;
  text-align: left;
  border-radius:24px;
  background-color: rgba(37, 13, 68, 1);
  font-size: 1rem;
  overflow: hidden;
}

.youtube-V iframe{
  height: 50%;
  width: 100%;
  border-radius: 24px 24px 0px 0px;
}

.youtube-V h2,p{
  padding: 5px 15px;
}
.youtube-V p{
  color: rgba(255, 255, 255, 0.719);
}



/* --------------------------------- host-section */
.host-section-all{
  padding-bottom: 120px;

}
#host-titel{
  color: white;
  text-align: center;
  font-size: 48px;
  margin: 60px 0 50px ;
  font-weight: 700;
}

.host-section{
  max-width: 1200px;
  min-height: 220px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: white;
  background-color: rgba(37, 13, 68, 1);
  border-radius: 35px;
}

.host-img{
  height: 200px;
  width: 200px;
  background-image: url(./img/host.png);
  background-size: cover;
}

.host-info{
  max-width: 740px;
  width: 52em;
  text-align: left;
  margin: 10px;
}

#icons{
  display: flex;
  margin-top: 16px;
  gap: 5px;
}

#icons .icon{
  height: 40px;
  width: 40px;
  border: 1px solid rgba(83, 60, 114, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* -------------------------------------------------- footer */
footer{
  background-color:  #220D3C;
}

.footer-all{
  max-width: 1600px;
  margin: 0 auto;
  font-size: 1vw;
}

.footer-bg{
  background-image: url(./img/footer-bg.png);
  background-repeat: no-repeat;
  min-height: 25.75em;
  background-size: 100%;
}

.foot-con{
  padding-top: 7.5em;
  align-items: center;
  justify-items: center;
  text-align: center;
  color: white;
  
}

.foot-logo{
  background-image: url(./img/TechWaveLogo.png);
  width: 13.9em;
  height: 2.2em;
  justify-self:center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.foot-icons,#foot-icons{
  display: flex;
}

.foot-con p{
  margin-top: 3em;
  font-size: 1em;
  font-weight: 400;
  padding: 5px;
}





/* --------------------------- media queries for small */

@media screen and (max-width: 576px) {
  .nav-bar{
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.page ul , .nav-btn{
  display: none;
}

.nav-menu{
  display: flex;
  color: aliceblue;
}

.hero-section{
  height: 450px;
}

.about-section{
  margin-top: 50px;
}

.about-txt{
  max-width: 500px;
  margin: 3em auto 2em;
}


.about-txt p{
  text-align: justify;
}

.choose-section h1{
  font-size: 2rem;
}

.all-frames{
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 180px 200px 200px 200px 300px 200px;
  gap: 20px;
  margin:20px;
}

.frame1 , .frame5{
  grid-column: span 4;
}

/* ------------------------------------------------ @Episodes section */

.episodes{
  flex-direction: column;
  align-items: center;
}

.youtube-V{
  width: 400px;
}

.host-section{
  max-width: 500px;
  justify-content: center;
}

.host-info{
  max-width: 500px;
  text-align: center;
  padding: 10px;
}

.foot-logo{
  width: 200px;
  height: 32px;
}

#icons{
  justify-content: center;
}

.foot-con p{
  margin-top: 7px;
  font-size: 12px;
  font-weight: 400;
}

.foot-icons{
  flex-direction: column;
}

#foot-icons{
  justify-content: center;
}

#new {
  padding: 4px 10px;
  right: 0px;

}

}