*{
    margin: 0;
    padding: 0;
}

html{
  font-size: 16px;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* --------------------------- common style */
.btn{
  color: white;
  background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
  border: none;
  padding: 12px 16px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover{
  background: linear-gradient(47.64deg, rgb(146, 247, 63),rgba(233, 8, 57, 0.904),rgb(17, 0, 248));
  transform: scale(1.1);
  outline: 2px solid rgba(92, 34, 168, 0.856);
}


/* --------------------------- specific style */
/* ----------------------------------------------- header */
header{
  background-color: rgba(26, 11, 46, 1);;
}

.nav-bar{
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page ul{
  display: flex;
  gap: 30px;
  align-items: center;
  list-style-type: none;

}

.page li{
  list-style-type: none;
}

.page ul li a{
  text-decoration: none;
  color: white;

}

.nav-menu{
  display: none;
}

/* ------------------------------------------------ hero section */

.hero-section-color{
  background-color: rgba(26, 11, 46, 1);
  border-top: 1px solid rgba(159, 128, 199, 0.377);
}

.hero-section{
  background-image: url(./img/hero-bg.png);
  background-repeat: no-repeat;
  height: 750px;
  max-width: 1600px;
  font-size: 1vw;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0);
  margin: 0 auto;
  background-size: 100%;
  align-items: center;
  justify-items: center;
  color: white;
}

.hero-circle{
  width: 21.875em;
  height: 21.875em;
  border-radius: 50px;
  background-image: url(./img/hero-circle.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 8.13em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-circle img{
  height:10.9375em ;
  width: 7.3125em;
}
.hero-section h2{
  margin-top: 40px;
  font-size: 60px;
  font-weight: 800;
}

.hero-section p{
  margin: 20px 0;
  font-size: 17px;
}
.hero-btn{
  display: flex;
  gap: 15px;
}
.subscribe{
  background: none;
  border: 2px solid #00FF88;
  color: #00FF88;
}







/* --------------------------- media queries for small */

@media screen and (max-width: 576px) {
  .nav-bar{
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.page ul , .nav-btn{
  display: none;
}

.nav-menu{
  display: flex;
  color: aliceblue;
}


}